<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yamilmarques.wearable">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Calendar permission used by CalendarWatchFaceService -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.DeviceDefault">

        <service
            android:name=".DigitalWatchFaceService"
            android:label="@string/basketball_watchface"
            android:permission="android.permission.BIND_WALLPAPER" >
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/ic_launcher" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/ic_launcher" />
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="com.example.android.wearable.watchface.CONFIG_DIGITAL" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="com.example.android.wearable.watchface.CONFIG_DIGITAL" />
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service android:name="com.example.yamilmarques.wearable.ListenerDataService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>


        <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />


    </application>

</manifest>
